.sortButton {
  display: flex;
  align-items: center;
  button {
    margin-left: 5px;
    padding: 0;
    width: 16px;
    height: 16px;
    border: none;
    background: none;
    cursor: pointer;
  }
}
