.headerList {
  min-width: 920px;
  height: 56px;
  background: rgba(237, 237, 252, 1);
  border-radius: 0 10px 0 0;
  margin: 20px 0 0 0;
  border-bottom: 1px solid rgba(233, 237, 245, 1);
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: rgba(23, 28, 38, 1);
    padding: 12px 0 12px 20px;
  }
}
