.navHeader {
  display: flex;
  flex-direction: column;
  width: 72px;
  align-items: center;
  min-height: 600px;
  background: rgba(21, 19, 87, 1);
  border-radius: 10px 0 0 10px;
  margin: 20px 0 20px 0;
  padding-top: 70px;
  a {
    margin-bottom: 20px;
    width: 35px;
    height: 35px;
    fill: white;
    background-color: rgba(13, 11, 69, 1);
    border: 1px solid rgba(42, 39, 143, 1);
    border-radius: 6px;
    padding: 5px;
  }
}
